@model MvcCoreAppExam.Models.SimpleChatViewModel
@*
    Simple Chat 画面

    .Net MVC によるシンプルなチャットアプリケーションの練習
*@

@* 画面個別スタイルシートセクション *@
@section stylesheets {
    <link rel="stylesheet" href="~/css/talk.css" asp-append-version="true">
}
@* 画面個別Javascriptセクション *@
@section scripts {
    <script src="~/js/SimpleChat.js" asp-append-version="true"></script>
}

<div class="main-container">

    @* チャットエリア *@
    <div class="chat-container">

        @if (Model != null)
        {
            foreach (MessageListItem listItem in Model.MessageList)
            {
                if (listItem.From == MessageFrom.MySelf)
                {
                    @* 自身が送信したメッセージ *@
                    <div class="message sent">
                        <img src="~/img/chat/default_image/kkrn_icon_user_1.png" alt="my icon">
                        <p>@listItem.Message</p>
                        <span class="timestamp">@DateTime.Now.ToString("HH:mm")</span>
                    </div>
                }
                else
                {
                    @* 他人から受信したメッセージ *@
                    <div class="message received">
                        <img src="~/img/chat/default_image/kkrn_icon_user_4.png" alt="user icon">
                        <p>@listItem.Message</p>
                        <span class="timestamp">@DateTime.Now.ToString("HH:mm")</span>
                    </div>
                }
            }

        }
    </div>

    @* メッセージ入力エリア *@
    <div class="input-container">
        @using (Html.BeginForm("SendMessage", "SimpleChat", FormMethod.Post, new { id = "InputForm" }))
        {
            <input type="hidden" id="InputUserName" name="InputUserName" />
            <input type="text" id="message-input" name="InputMessage" placeholder="メッセージ..." />
            <button id="send-button" onclick="$('#InputForm').submit()">送信</button>
        }
    </div>

    @* 名前入力ダイアログ *@
    @if (Model != null && Model.EnableUseNameDialog)
    {
    <div id="username-dialog" class="dialog">
        <div class="dialog-overlay"></div>
        <div class="dialog-content">
            <span class="dialog-message">ユーザ名を入力してください</span>
            <input type="text" id="username-input" placeholder="ユーザ名...">
            <button id="username-submit">決定</button>
        </div>
    </div>
    }

</div>


