@model MvcCoreAppExam.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using (Html.BeginForm("GetServerMessage", "Home", FormMethod.Post))
    {
        <input id="TestButton" type="submit" value="サーバメッセージを表示" />
    }
    @if (Model != null)
    {
        <span id="ServerResponseMessage">@Model.ServerMessage</span>    
    }
</div>
